* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: coral;
  padding: 20px 0;
  text-align: center;
}

li {
  list-style: none;
  display: inline-block;
  padding: 0 24px;
}
li a {
  color: white;
  text-decoration: none;
}
li a:hover {
  color: aqua;
}
li a.active {
  color: #690f03;
}

footer {
  text-align: center;
  color: white;
  padding: 24px 0;
  background-color: #4d4d4d;
}

.singlePostSection {
  width: 60%;
  min-width: 10%;
  margin: 0 auto;
}

.singlePost {
  margin: 34px 0;
}

.allPosts {
  margin: 34px auto;
}
.allPosts h2 {
  text-align: center;
}

button {
  padding: 8px;
  font-size: 18px;
}